//$("#chat").append("heartbeat...");
if (disconnectTimeout) {
    clearInterval(disconnectTimeout)
}

setTimeout(function () {
    $("#heartbeat").submit();
}, 3000);

var disconnectTimeout = setTimeout(function () {
    $("#chat").append("<li><span class='created_at'>[<%= Time.now.strftime('%H:%M') %>]</span> It seems you have disconnected from the server :(</li>");
}, 15000);
